<!--
    功能：发送整体车辆数据给远程监控平台，接收远程监控平台的数据：非底层控制数据
    节点：
        发送节点：整合整车信息，包括解析车载控制器发送的can数据，接收传感器数据，自主控制数据，通过该节点将数据发送给远程监控平台
        接收节点：接收远程监控平台的信息，并将信息反馈给激光雷达、imu、以及各种上位机控制的功能
-->
    
<!-- 发送节点 -->
<!-- 整合整车数据，发送给远程监控平台 --> 
<node pkg="agv_bringup" type="sendalldata" name="sendalldata_node" required="true" output="screen">
    <param name="imu" value="/transbot/imu"/>
    <param name="vel" value="/transbot/get_vel"/>
<!-- 接收 --> 
<!-- Low-level driver node -->
<node pkg="agv_bringup" type="recv_platformdata" name="recv_platformdata_node" required="true" output="screen">
    <param name="imu" value="/transbot/imu"/>
    <param name="vel" value="/transbot/get_vel"/>
</node>